
ul {
  li {
    height:123px;
    padding:4px;
    margin: 8px auto;
    list-style: none;
    width: 25%;
    float: left;
    cursor: pointer;
    outline: none;
  }
}
.proItem-Content {
  padding:4px;
  width: auto;
  height: 115px;
  background: rgba(75, 177, 52, 1);
  border-radius: 3px;
  h3 {
    margin: 26px 0 10px 30px;
    font-size: 20px;
    color: #ffffff;
  }
  p {
    margin: 0 0 10px 30px;
    color: #ffffff;
  }
}

.proItem-addMain {
  padding:4px;
  width: auto;
  height: 115px;
  background: rgba(164, 164, 164, 1);
  border-radius: 3px;
  .proItem-addSvg {
    width: 80px;
    height:80px;
    margin: 10px auto 0 auto;
  }
}
ul li .proItem-addMain:hover {
  background: rgba(164, 164, 164, 0.9);
}

ul li .proItem-Content:hover {
  background: rgba(75, 177, 52, 0.9);
}

@media screen and (max-width: 990px) {
  .proItem {
    width: 33% !important;
  }
}

@media screen and (max-width: 768px) {
  .proItem {
    width: 50% !important;
  }
}

@media screen and (max-width: 576px) {
  .proItem {
    width: 100% !important;
  }
}
