
<ul>
  <li *ngFor="let pro of projects"  class="proItem">
    <div class="proItem-Content" *ngIf="projects.length > 0">
      <h3>{{pro.projectName}}</h3>
      <p>{{pro.description}}</p>
    </div>
  </li>

  <li class="proItem" *ngIf="projects.length > 6" routerLink="/pages/resource/projectMan">
    <div class="proItem-Content">
      <h3>更多项目</h3>
      <p> ... </p>
    </div>
  </li>
  <li class="proItem" (click)="createPro()">
    <div class="proItem-addMain">
      <div class="proItem-addSvg">
        <svg fill="#ffffff" height="80" viewBox="0 0 24 24" width="80" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
    </div>
  </li>
</ul>
