.transfer-container{
    width: 100%;
    height: 250px;
    .mat-card{
        position: relative;
        float: left;
        min-width: 200px;
        width: 40%;
        height: 100%;
        overflow: hidden;
        .tranfer-card-title{
            position: absolute;
            top: 0;
            padding: 24px 24px;
            left: 0;
            height: 25%;
            width: 100%;
            background: #fff;
            font-size: 16px;
            span{
                float: right;
                font-size: 14px;
            }
        }
        .mat-selection-list{
            position: absolute;
            bottom: 10%;
            left: 10%;
            margin: 0;
            padding: 0;
            width: 80%;
            height: 65%;
            overflow: auto;
        }
    }
    .transfer-btn{
        position: relative;
        float: left;
        width: 20%;
        height: 100%;
        .mat-mini-fab{
            position: absolute;
            top: 50%;
            left: 50%;
            &:nth-child(1){
                transform: translate(-50%,-150%);
            }
            &:nth-child(2){
                transform: translate(-50%,50%);
            }
            font-size: 24px !important;
            color: #fff !important;
            font-weight: lighter !important;
        }
    }
}