<div class="transfer-container">
  <mat-card>
    <div class="tranfer-card-title">已加成员：
      <span>
        <strong>{{selectList.selectedOptions.selected.length}}/{{selectedName?.length}}</strong>人已选
      </span>
    </div>
    <mat-selection-list #selectList>
      <mat-list-option *ngFor="let sOpt of selectedName" [value]="sOpt.id">
        {{sOpt?.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
  <div class="transfer-btn">
    <button mat-mini-fab color="primary" (click)="deleteOpt()">&gt;</button>
    <button mat-mini-fab color="primary" (click)="addOpt()">&lt;</button>
  </div>
  <mat-card>
    <div class="tranfer-card-title">可加用户：
      <span>
        <strong>{{allList.selectedOptions.selected.length}}/{{addName?.length}}</strong>人已选
      </span>
    </div>
    <mat-selection-list #allList>
      <mat-list-option *ngFor="let aOpt of addName" value="{{aOpt.id}}">
        {{aOpt?.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
</div>