<div class="detail-view-container">
  <div class="container-bg"></div>
  <div class="detail">
    <div class="header">
      <a class="back-arrow" routerLinkActive="active" [routerLink]="['../']">
        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
      </a>
      <div mat-card-avatar [style.background]="'#c7b7dd'">{{"測試name"| name2avatar}}</div>
      <div class="header-text">
        <div class="detail-name">測試name</div>
        <div>日期</div>
      </div>
    </div>
    <mat-card class="">
      <!--<mat-card-header>-->
      <!--<mat-card-title>需求name</mat-card-title>-->
      <!--<mat-card-subtitle>日期</mat-card-subtitle>-->
      <!--<div mat-card-avatar [style.background]="'#8847dc'">{{"需求name"| name2avatar}}</div>-->
      <!--</mat-card-header>-->
      <div class="dialog-content">
        <form action="" [formGroup]="testCaseForm" (ngSubmit)="onSubmit(testCaseForm)">
          <div class="detail-content">
            <mat-form-field>
              <input matInput placeholder="用例名称" [formControl]="name" [(ngModel)]="testCaseInfo.name" name="name">
              <mat-error>{{formErrors.name}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="用例描述" [formControl]="detail" [(ngModel)]="testCaseInfo.detail" name="detail">
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="用例类型" [formControl]="type" [(ngModel)]="testCaseInfo.type" name="type">
                <mat-option value="功能测试">功能测试</mat-option>
                <mat-option value="性能测试">性能测试</mat-option>
                <mat-option value="配置相关">配置相关</mat-option>
                <mat-option value="安装部署">安装部署</mat-option>
                <mat-option value="安全相关">安全相关</mat-option>
                <mat-option value="接口测试">接口测试</mat-option>
                <mat-option value="其他">其他</mat-option>
              </mat-select>
              <mat-error>{{formErrors.type}}</mat-error>
            </mat-form-field>

            <common-search
              [ngStyle]="{width: '100%', marginTop: '12px'}"
              [placeHolder]="'相关需求'"
              [field]="'title'"
              [searchList]="searchDemandList"
              [value]="testCaseInfo.demandTittle"
              (search)="emitSearch($event)"
              (select)="select($event)">
            </common-search>

            <mat-form-field>
              <input matInput placeholder="实际输入" [formControl]="input" [(ngModel)]="testCaseInfo.input" name="input">
              <mat-error>{{formErrors.input}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="期望输入" [formControl]="expect" [(ngModel)]="testCaseInfo.expect" name="expect">
              <mat-error>{{formErrors.expect}}</mat-error>
            </mat-form-field>
          </div>

          <div class="detail-footer">
            <button mat-button (click)="cancel()">取消</button>
            <button mat-button type="submit" [disabled]="!testCaseForm?.valid">{{mode=='new'?'提交':'修改'}}</button>
          </div>
        </form>

      </div>
    </mat-card>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

