
.md-title{
  display: inline;
}
.ma-close-x{
  margin-left: 310px
}

.md-action{
  width: 184px;
  margin: 10px auto 0 auto;
}

.mat-dialog-actions {
  padding: 0;
}
.mat-dialog-content{
  margin: 0;
}
.form-group {
   margin-bottom: 0;
}
//上传文件进度条
//.progressValue[_ngcontent-c18] {
//  position: absolute;
//  left: 80px;
//  top: 30%;
//}
.script-label{
  //top: 26px;
  text-align: right;
}
.labelHeight{
  height: 33px;
  line-height: 33px;
}
.uploadSize{
  height: 52px;
}

.example-full-width {
  width: 400px;
  margin:0 auto;
}
