<w-sidebar *ngIf="tasks">
  <div class="_dataList">
    <md-nav-list>
      <w-dataList
        [svgType]="'task'"
        [displayCommon]="true"
        [displayPeople]="false"
        [columnHeader]="true"
        [placeHolder]="'任务搜索'"
        [displayControl]="'check'"
        [dataes]="tasks.data.pages"
        [configEntity]="configEntity"
        (outCheckDataes)="returnChecked($event)"
        (selected)="returnSelected($event)"
        (outSearch)="returnSearch($event)">
      </w-dataList>
    </md-nav-list>
  </div>

  <div class="_paging">
    <wa-pagination
      [length]="tasks.data.total"
      [size]="size"
      (outPageIndex)="returnPageIndex($event)">
    </wa-pagination>
  </div>
</w-sidebar>
<div class="wa-header">
  <div class="wa-controlBtn">

    <button md-button color="warn" id="deleteBtn" [disabled]="dispalyDelete" (click)="deleteDialog()">
      <svg fill="#9e9e9e" id="deleteSvg" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <span>删除</span>
    </button>

    <button md-button color="primary" id="createBtn" (click)="createTask()">
      <svg fill="#4bb134" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <span>新建</span>
    </button>

  </div>
  <wa-sort
    class="wa-sort"
    (outFieldName)="consoleFieldName($event)"
    (outDirection)="consoleSort($event)">
  </wa-sort>
</div>

<div [ngSwitch]="contentSwitch">

  <div *ngSwitchCase="'emptyCase'" class="wa-content wa-content-task">
    <div class="wa-basic-info">
    </div>
    <div class="wa-core-info">
      <div class="wa-noItem">
        <h1>无信息</h1>
        <h1>No Item</h1>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'commonCase'" class="wa-content wa-content-task">
    <div class="wa-basic-info">
      <md-tab-group [(selectedIndex)]="tabIndex">
        <md-tab label="基础信息">
          <div style="position: relative;overflow: hidden">
            <div class="wa-title">
              <svg fill="#757575" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
              </svg>
              <div class="wa-title-info">
                <div>
                  <h3>{{dataDetail.name}}</h3>
                  <p mat-line>{{dataDetail.createDate}}</p>
                </div>
                <button md-icon-button (click)="modifyDialog()" class="wa-title-editBtn" mdTooltip="修改"
                        [mdTooltipPosition]="'after'">
                  <svg fill="#757575" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M0 20h24v4H0z" fill-opacity=".36"/>
                  </svg>
                </button>
              </div>
            </div>

            <div class="wa-detail">

              <div class="row detail_item">
                <div class="detail_title">
                  <h4>任务详情</h4>
                </div>

                <div class="col-1"></div>
                <div class="col-10">

                  <div class="row detail_info">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                    <p>描述信息：{{dataDetail.description}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>创建者：{{dataDetail.creator}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>创建日期：{{dataDetail.createDate}}</p>
                    </div>

                    <!--<div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">-->
                    <!--<p>projectId：{{dataDetail.projectId}}</p>-->
                    <!--</div>-->
                  </div>

                </div>
                <div class="col-1"></div>
              </div>

              <div class="row detail_item">
                <div class="detail_title">
                  <h4>应用详情</h4>
                </div>

                <div class="col-1"></div>
                <div class="col-10">

                  <div class="row detail_info">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>appName：{{dataDetail.app.name}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>packageName：{{dataDetail.app.packageName}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>appId：{{dataDetail.app.id}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>type：{{dataDetail.app.type}}</p>
                    </div>
                  </div>

                  <div class="row detail_info">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>size：{{dataDetail.app.size}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>sdkVersion：{{dataDetail.app.sdkVersion}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>version：{{dataDetail.app.version}}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                      <p>targetSdkVersion：{{dataDetail.app.targetSdkVersion}}</p>
                    </div>
                  </div>

                </div>
                <div class="col-1"></div>
              </div>

              <div class="row detail_item">
                <div class="detail_title">
                  <h4>案例列表</h4>
                  <div class="detail_controlBtn">

                    <button md-button (click)="cancelCase(dataDetail.id)" [disabled]="controlBtn">
                      <svg fill="#757575" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <span>取消</span>
                    </button>

                    <button md-button (click)="saveCase()" [disabled]="controlBtn">
                      <svg fill="#757575" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path
                          d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
                      </svg>
                      <span>保存</span>
                    </button>

                  </div>
                </div>

                <div class="col-1"></div>
                <div class="col-5" style="margin-top: 30px;">
                  <div class="belong-case-list">

                    <div class="case_inList">
                      <wa-sort-list [(items)]="dataDetail.testcaseVOs"></wa-sort-list>
                    </div>

                  </div>
                </div>
                <div class="col-5" style="margin-top: 30px;">
                  <div class="all-case-list">
                    <div class="search-case">
                      <input class="search-case-input" type="text" placeholder="搜索案例" #query>
                      <button class="btn btn-secondary" type="button" (click)="getCasetList(query.value)">Go!</button>
                    </div>
                    <div class="case-list-content">
                      <div *ngFor="let case of caseList">
                        <div class="case-content">
                          <span>{{case.name}}</span>
                          <a class="add-item" (click)="addItem(case)">+</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1"></div>

              </div>

            </div>

            <div>
              <button md-raised-button color="primary" (click)="nextTab()"
                      style="float: right;margin-right: 10%;margin-top: -20px;">
                下一步
              </button>
            </div>

          </div>
          <hr/>
        </md-tab>
        <md-tab label="设备列表">
          <device-manage [where]="'inProject'" [deviceControl]="true" (checkedDeviceChange)="getCheckedDevice($event)"></device-manage>
          <button md-raised-button color="primary" (click)="deploy()"
                  style="float: right;margin-right: 10%;margin-top: -50px;">
            部署
          </button>
        </md-tab>
      </md-tab-group>

    </div>

  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
