<div class="time-line-wrap">
  <div class="time-line-item">
    <div class="line-item-date">
      <h3>Dec 14th, 2017</h3>
    </div>
    <div class="line-item-content">
      <div class="item-content-wrap">
        <h3>Title</h3>
        <ul>
          <li>1sdddddddddd</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="time-line-item">
    <div class="line-item-date">
      <h3>Dec 14th, 2017</h3>
    </div>
    <div class="line-item-content">
      <div class="item-content-wrap">
        <h3>Title</h3>
        <ul>
          <li>1sdddddddddd</li>
        </ul>
      </div>
    </div>
  </div>
</div>
