#toast-container {
  top:140px;
}
#toast-container > .toast-success {
   color: #3c763d;
   background-color: #dff0d8;
   border-color: #d6e9c6;
 }
.toast-success .toast-close-button {
  //margin-top: -10px;
  margin-top: -14px;
  margin-right: 3px;
  color: #3c763d;

}#toast-container > .toast-info {
   color: #31708f;
   background-color: #d9edf7;
   border-color: #bce8f1;
 }
.toast-info .toast-close-button {
  color: #31708f;

}#toast-container > .toast-warning {
   color: #8a6d3b;
   background-color: #fcf8e3;
   border-color: #faebcc;
 }
.toast-warning .toast-close-button {
  color: #8a6d3b;
}

#toast-container > .toast-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.toast-error .toast-close-button {
  color: #a94442;
}

.toaster-icon {
  filter: invert(0.5);
}
#toast-container > div {
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
}
