.welcome-main {
  max-width: 1250px;
  margin: 0 auto;
  padding:0 30px;
}

.welcome-title {
  max-width: 1250px;
  margin: 15px auto;
  .countProject {
    height: 100px;
    margin:15px auto;
    p {
      margin:-10px auto;
      font-weight: 400;
      font-size:14px;
      text-align: center;
      width: 200px;
    }
  }
  .countProject:hover {
    cursor: pointer;
    outline: none;
  }
  .countDevice {
    height:100px;
    margin:15px auto;
    p {
      margin:-10px auto;
      font-weight: 400;
      font-size:14px;
      text-align: center;
      width: 200px;
    }
  }
  .countDevice:hover {
    cursor: pointer;
    outline: none;
  }
  .welcome-svg {
    width: 120px;
    height: 45px;
    margin:25px auto;
    svg {
      display: block;
      padding-left: 8px;
    }
    .count-dev, .count-pro{
      width: 55px;
      text-align: center;
      font-size:45px;
      float: right;
      margin-top: -33px;
      padding-right: 8px;
    }
    .count-pro {
      color: blue;
    }
    .count-dev {
      color: #4bb134;
    }
  }
}

.welcome-pro{
  max-width: 1250px;
  margin: 15px auto;
}

.content-Title {
  height: 50px;
  width: 100%;
  svg {
    margin: 10px;
  }
  p {
    padding-top:13px;
    font-size:16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #4d4d4d;
    font-weight:700;
  }
}

ul {
  li {
    height:123px;
    padding:4px;
    margin: 8px auto;
    list-style: none;
    width: 25%;
    float: left;
    cursor: pointer;
    outline: none;
  }
}
.proItem-Content {
  padding:4px;
  width: auto;
  height: 115px;
  background: rgba(75, 177, 52, 1);
  border-radius: 3px;
  h3 {
    margin: 26px 0 10px 30px;
    font-size: 20px;
    color: #ffffff;
  }
  p {
    margin: 0 0 10px 30px;
    color: #ffffff;
  }
}

.proItem-addMain {
  padding:4px;
  width: auto;
  height: 115px;
  background: rgba(164, 164, 164, 1);
  border-radius: 3px;
  .proItem-addSvg {
    width: 80px;
    height:80px;
    margin: 10px auto 0 auto;
  }
}
ul li .proItem-addMain:hover {
  background: rgba(164, 164, 164, 0.9);
}

ul li .proItem-Content:hover {
  background: rgba(75, 177, 52, 0.9);
}

@media screen and (max-width: 990px) {
  .proItem {
    width: 33% !important;
  }
}

@media screen and (max-width: 768px) {
  .proItem {
    width: 50% !important;
  }
}

@media screen and (max-width: 576px) {
  .proItem {
    width: 100% !important;
  }
}

