.release-wrap {
  height: 100%;
  width: 100%;
  background: #fafafa;
}

.release-card {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.release-card-title {
  /*border-bottom: 1px solid rgba(0, 0, 0, .12);*/
  max-width: 1200px;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  flex-flow: column nowrap;
}

button:focus {
  outline: none;
}

.create-release-wrap {
  margin: 20px auto 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.create-release-item {
  width: 80%;
}
