.search-case_main {
  height: 100px;
  margin-top:-20px;
  overflow: visible;
}
.showCaselist {
  margin: -50px auto 0 auto;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  width: 400px;
  max-height: 300px;
  overflow: scroll;
  background: white;
  z-index:1;
}
.addPoint {
  position: absolute;
  top:5px;
  right:12px;
  z-index:1;
}

.example-full-width {
  width: 400px;
}
