<div class="wa-tree">
  <tree-root
    #tree
    [nodes]="nodes"
    [options]="customTemplateStringOptions"
    [focused]="true"
    (event)="onEvent($event)"
    (initialized)="onInitialized(tree)"
  >
    <ng-template #treeNodeTemplate let-node>
      <span title="{{node.data.subTitle}}" style="white-space: nowrap">{{ node.data.name }}</span>
    </ng-template>
  </tree-root>
    <!--<div id="divP" style="width:100%; height: 100%;">-->
      <!--<div id="divLeft" style="float: left;">-->
        <!---->
      <!--</div>-->
      <!--<div id="divS" class="gf_s" style="float: left;"></div>-->
      <!--<div id="divRight" style="float: left;"></div>-->
    <!--</div>-->
</div>
