<div class="card-container">
    <app-list-card *ngIf="demandData.length" [data]="demandData" [canAdd]='true' (addItem)="addDemand()" (showDetail)="showDemandDetail($event)"></app-list-card>
    <app-list-card *ngIf="activityData.length" [data]="activityData" [canAdd]='true' (addItem)="addTask()" (showDetail)="showTaskDetail($event)"></app-list-card>
    <app-list-card *ngIf="testResultData.length" [data]="testResultData" [canAdd]='false' (showDetail)="showTestResultDetail($event)"></app-list-card>
</div>
