.search-app_main {
  height: 100px;
  margin-top:-20px;
  overflow: visible;
}

.showApplist {
  margin: -50px auto 0 auto;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  z-index:1;
  background: white;
}


.example-full-width {
  width: 100%;
}
