<div>
  <mat-toolbar class="demand-detail-header">
    <!--<span>项目名称</span><span> > </span>-->
    <span>任务名称</span>
  </mat-toolbar>
</div>

<div class="dialog-content">
  <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm)">
    <div class="mat-container">
      <mat-form-field>
        <input matInput placeholder="名称" [formControl]="title">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="描述" [formControl]="detail">
      </mat-form-field>

      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <input matInput [formControl]="startDate" [matDatepicker]="startPicker" placeholder="预计开始">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input matInput [formControl]="endDate" [matDatepicker]="endPicker" placeholder="截止日期">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-4" style="width:30%">
          <mat-form-field>
            <input matInput placeholder="花费时间" [formControl]="cost">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <div>
        执行人
      </div>
      <div style="margin-top: 10px">
        <mat-card>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="指派人员" [formControl]="selectUsers" multiple (focus)="getSelectUsers()">
                  <!--<mat-select-trigger>-->
                    <!--{{selectUsers.value ? selectUsers.value[0] : ''}}-->
                    <!--<span *ngIf="selectUsers.value?.length > 1" class="example-additional-selection">-->
              <!--(+{{selectUsers.value.length - 1}} others)-->
            <!--</span>-->
                  <!--</mat-select-trigger>-->
                  <mat-optgroup *ngFor="let members of userLists" [label]="members.role"
                                [disabled]="members.disabled">
                    <mat-option *ngFor="let member of members.members" [value]="member">
                      {{member?.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="participant">
                <div *ngIf="!selectUserList || selectUserList?.length === 0">未指定人员</div>
                <chip-list [chipList]="selectUserList" (removeChip)="removeUser($event)"></chip-list>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <hr>

    <div>
      <span>包含需求</span>
      <div class="demand-progress-bar">
        <span>{{demandListCompletedInTask?.length}}/{{demandListInTask.length}}</span>
        <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
      </div>
      <div class="demand-in-task">
        <div *ngFor="let demand of demandListInTask">
          <mat-checkbox (change)="toggleDemandStatus(demand, $event)"></mat-checkbox>
          <mat-form-field>
            <input matInput value="{{demand?.title}}">
          </mat-form-field>
          <button class="delete-icon" mat-icon-button (click)="deleteDemandInTask(demand)">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <hr>

    <div>
      <span>未指派的需求</span>
      <div class="demand-search">
        <mat-form-field>
          <input matInput placeholder="搜索需求">
        </mat-form-field>
      </div>
      <div class="demand-list-not-assigned">
        <div *ngFor="let demand of demandListNotAssigned">
          <mat-form-field>
            <input matInput value="{{demand?.title}}" disabled>
          </mat-form-field>
          <button mat-icon-button (click)="addDemandToTask(demand)">+</button>
        </div>
      </div>
    </div>

    <div class="demand-detail-footer">
      <button mat-button>取消</button>
      <button mat-button type="submit" [disabled]="!testForm?.valid">提交</button>
    </div>
  </form>
</div>

