.demand-detail-header{
  background: #8847dc;
  color:#fefefe;
  padding: 0 24px;
}
.user-role-panel{
  top: 122.0486px !important;
}
.dialog-content{
  padding: 24px;
  height: 60vh;
  overflow: auto;
}
.mat-container{
  display: flex;
  flex-direction: column;
}
.mat-container > *{
  width: 100%;
}

.demand-detail-footer{
  text-align: center;
}

.role-list{
  padding: 20px;
  .role{
    //background: darkgrey;
    width: 162px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
  }
}
.demand-in-task{
  padding: 0px 10px;
  mat-form-field{
    width: 76%;
  }
}

.demand-search{
  padding: 0px 20px;
  mat-form-field{
    width: 96%;
  }
}
.demand-list-not-assigned{
  padding: 0px 20px;

  mat-form-field {
    width: 80%;
  }
}

.demand-progress-bar{
  margin: 10px;
  padding: 0 20px;

  mat-progress-bar{
    width: 80%;
  }
}

.delete-icon:hover{
  background: #f44336;
}

.participant{
  padding: 15px 10px 0px 10px;
}
