<w-sidebar>
  <div class="_dataList">
    <mat-nav-list>
      <w-dataList
        [svgType]="'report'"
        [displayCommon]="true"
        [displayPeople]="false"
        [columnHeader]="true"
        [placeHolder]="'项目搜索'"
        [displayControl]="'check'"
        [dataes]="report?.data?.pages"
        [configEntity]="configEntity"
        (outCheckDataes)="returnChecked($event)"
        (selected)="returnSelected($event)"
        (outSearch)="returnSearch($event)">
      </w-dataList>
    </mat-nav-list>
  </div>

  <div class="_paging" *ngIf="report">
    <wa-pagination
      [length]="report.data.total"
      [size]="size"
      (outPageIndex)="returnPageIndex($event)">
    </wa-pagination>
  </div>
</w-sidebar>

<div class="wa-header">
  <wa-sort
    class="wa-sort"
    (outFieldName)="consoleFieldName($event)"
    (outDirection)="consoleSort($event)">
  </wa-sort>
</div>

<div [ngSwitch]="contentSwitch">

  <div *ngSwitchCase="'emptyCase'" class="wa-content wa-content-margin">
    <div class="wa-basic-info">
    </div>
    <div class="wa-core-info">
      <div class="wa-noItem">
        <h1>无信息</h1>
        <h1>No Item</h1>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'loadingCase'" class="wa-content wa-content-margin">
    <div class="wa-basic-info">
    </div>
    <div class="wa-core-info">
      <div class="wa-noItem">
        <h1>{{loadingZN}}</h1>
        <h1>{{loadingEN}}</h1>
      </div>
    </div>
  </div>

<div *ngSwitchCase="'commonCase'" class="wa-content wa-content-margin">
  <div class="wa-basic-info">
    <div class="wa-title">
      <svg class="svg_icon" fill="#555555" height="48" viewBox="0 0 24 24" width="48"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M14.4 6L14 4H5v17h2v-7h5.6l.4 2h7V6z"/>
      </svg>
      <div class="wa-title-info">
        <h3 *ngIf="selectReport">{{selectReport.name}}</h3>
        <p mat-line>手机测试信息</p>
      </div>
    </div>
    <div class="wa-detail">
      <div class="row detail_item">
        <div class="detail_title">
          <h4>报告详情</h4>
        </div>

        <div class="col-1"></div>
        <div class="col-10">
          <div class="row detail_info">
            <div class="col-lg-4 col-md-6 col-sm-6 col-sx-12">
              <p>测试应用：{{selectReport?.app.name}}</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
              <p>测试设备数：{{selectReport?.devices.length}}</p>
              <!-- -{{selectReport?.devices?.model}}-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
              <p>所测案例数：{{selectReport?.testcases.length}}</p>
            </div>
            <!--<div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">-->
              <!--<p>测试脚本数：{{selectReport?.scripts}}</p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>

  <div class="wa-core-info">
    <div>
      <mat-tab-group [(selectedIndex)]="tabIndex">
        <mat-tab label="报告总览">

          <div class="row" style="width: 100%; padding: 25px;">

            <div class="report_title">
              <p>概要</p>
            </div>

            <ngx-datatable
              class="material"
              [selected]="selected"
              style="width: 100%;margin: 10px 0"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="50"
              [rows]="transAppStaty"
              [columns]="appColumn">
            </ngx-datatable>
            <!--[selectionType]="'single'"-->
            <!--(select)='onSelect($event)'-->
            <!--(activate)="onActivate($event)"-->
            <mat-card class="chartsCard">
              <div class="row" style="width: 100%">
                <!--<div class="col-lg-1"></div>-->
                <div class="col-lg-5 col-md-12 col-sm-12">
                  <div class="charts">
                    <ngx-charts-bar-horizontal
                      [results]="transCpuStaty"
                      [view]="view"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [legendTitle]="legendTitle"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [tooltipDisabled]="false"
                      [xAxisLabel]="'平均CPU占用百分比'"
                      [yAxisLabel]="yAxisLabel"
                      [xAxisTickFormatting]="xAxisFormat"
                      (select)="onSelect($event)">
                      <ng-template #tooltipTemplate let-model="model">
                        <h5>
                          {{model.name}}
                        </h5>
                        <h6>CPU占用: {{model.value}}%</h6>
                      </ng-template>

                    </ngx-charts-bar-horizontal>
                  </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                  <div class="charts">
                    <ngx-charts-bar-horizontal
                      [results]="transRamStaty"
                      [view]="view"
                      [tooltipDisabled]="false"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [legendTitle]="legendTitle"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="'平均RAM占用百分比'"
                      [xAxisTickFormatting]="xAxisFormat"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)">
                      <ng-template #tooltipTemplate let-model="model">
                        <h5>
                          {{model.name}}
                        </h5>
                        <h6>RAM占用: {{model.value}}%</h6>
                      </ng-template>
                    </ngx-charts-bar-horizontal>
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </mat-card>

            <div class="report_title">
              <p>脚本统计</p>
            </div>

            <ngx-datatable
              class="material selection-cell"
              style="width: 100%;margin: 10px 0"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="50"
              [rows]="reportStaty?.data.scriptStaty"
              [columns]="scriptColumn"
              (activate)="onActivate($event)">
              <!--<ngx-datatable-column name="model">-->
                <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                  <!--{{column.name}}-->
                <!--</ng-template>-->
                <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
                  <!--{{value}}-->
                <!--</ng-template>-->
              <!--</ngx-datatable-column>-->

              <!--<ngx-datatable-column name="brand">-->
                <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                  <!--{{column.name}}-->
                <!--</ng-template>-->
                <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
                  <!--{{value}}-->
                <!--</ng-template>-->
              <!--</ngx-datatable-column>-->

              <!--<ngx-datatable-column name="total">-->
                <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                  <!--{{column.name}}-->
                <!--</ng-template>-->
                <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
                  <!--{{value}}-->
                <!--</ng-template>-->
              <!--</ngx-datatable-column>-->

              <!--<ngx-datatable-column name="successNum">-->
                <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                  <!--{{column.name}}-->
                <!--</ng-template>-->
                <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
                  <!--<p style="color: green;">{{value}}</p>-->
                <!--</ng-template>-->
              <!--</ngx-datatable-column>-->

              <!--<ngx-datatable-column name="failedNum">-->
                <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                  <!--{{column.name}}-->
                <!--</ng-template>-->
                <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
                  <!--<p style="color: red;">{{value}}</p>-->
                <!--</ng-template>-->
              <!--</ngx-datatable-column>-->

              <!--<ngx-datatable-column name="check">-->
                <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                  <!--查看详情-->
                <!--</ng-template>-->
                <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
                  <!--<strong>查看</strong>-->
                <!--</ng-template>-->
              <!--</ngx-datatable-column>-->
            </ngx-datatable>

            <mat-card class="chartsCard">
              <div class="row" style="width: 100%">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-md-12 col-sm-12">
                  <div class="lineCharts">
                    <ngx-charts-line-chart
                      [results]="transCpuLine"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [legendTitle]="legendTitle"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="'时刻CPU占用百分比'"
                      [yAxisLabel]="'CPU'"
                      [autoScale]="false"
                      [timeline]="true"
                      [yAxisTickFormatting]="yAxisFormatline"
                      (select)="onSelect($event)">

                      <!--<ng-template #tooltipTemplate let-model="model" >-->
                      <!--<p>{{translate(model.name)}}</p>-->
                      <!--<p>{{model.value}}%</p>-->
                      <!--</ng-template>-->

                    </ngx-charts-line-chart>
                  </div>
                </div>
                <!--<div class="col-lg-2"></div>-->
                <!--<div class="col-lg-4 col-md-12 col-sm-12">-->
                  <!--<div class="charts">-->
                    <!--<ngx-charts-pie-chart-->
                      <!--[view]="view"-->
                      <!--[scheme]="colorScheme"-->
                      <!--[results]="single"-->
                      <!--[legend]="showLegend"-->
                      <!--[explodeSlices]="explodeSlices"-->
                      <!--[labels]="showLabels"-->
                      <!--[doughnut]="false"-->
                      <!--[gradient]="gradient"-->
                      <!--(select)="onSelect($event)">-->
                      <!--<ng-template #tooltipTemplate let-model="model">-->
                        <!--<p>{{model.name}}</p>-->
                        <!--<p>{{Percentage(model.value)}}</p>-->
                      <!--</ng-template>-->
                    <!--</ngx-charts-pie-chart>-->
                  <!--</div>-->
                <!--</div>-->
                <div class="col-lg-1"></div>
              </div>
            </mat-card>

            <mat-card class="chartsCard">
              <div class="row" style="width: 100%">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-md-12 col-sm-12">
                  <div class="lineCharts">
                    <ngx-charts-line-chart
                      [results]="transRamLine"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [legendTitle]="legendTitle"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="'时刻RAM占用百分比'"
                      [yAxisLabel]="'RAM'"
                      [autoScale]="false"
                      [timeline]="true"
                      [yAxisTickFormatting]="yAxisFormatline"
                      (select)="onSelect($event)">

                      <!--<ng-template #tooltipTemplate let-model="model" >-->
                      <!--<p>{{translate(model.name)}}</p>-->
                      <!--<p>{{model.value}}%</p>-->
                      <!--</ng-template>-->

                    </ngx-charts-line-chart>
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </mat-card>

          </div>

        </mat-tab>

        <mat-tab label="步骤详情">
          <div>
            <wa-tree [nodes]="transNodes" (emitClick)="getTreeStep($event)" [tabIndex]="tabIndex"></wa-tree>
          </div>
          <div *ngIf="treeRes">
            <wa-datatable [rows]="treeData"></wa-datatable>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

</div>
