.report-checkedAll {
  position: absolute;
  top: 30px;
  left: 225px;
}

.report-name {
  position: absolute;
  top: 23px;
  left: 85px;
}
.chartsCard {
  width: 100%;
  margin-top: 20px;
}
.charts {
  min-height: 100px;
  margin-top:50px;
}

.lineCharts {
  margin-top: 50px;
  height: 400px;
}
.report_title {
  position: relative;
  margin: 30px 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #4bb134;
  p {
    border-left:2px solid #4bb134;
    padding-left: 10px;
    font-size:18px;
  }
}

.hoverStyle:hover {
  //background: rgba(0, 0, 0, 0.16);
  background: #f5f5f5;
}

.hoverStyle:active {
  background: #f1f1f1;
}
