<w-sidebar *ngIf="project">

  <div class="_dataList">
    <md-nav-list>
      <w-dataList
        [svgType]="'folder'"
        [displayCommon]="true"
        [displayPeople]="false"
        [columnHeader]="true"
        [placeHolder]="'项目搜索'"
        [displayControl]="'check'"
        [dataes]="project.data.pages"
        [configEntity]="configEntity"
        (outCheckDataes)="returnChecked($event)"
        (selected)="returnSelected($event)"
        (outSearch)="returnSearch($event)">

      </w-dataList>
    </md-nav-list>
  </div>

  <div class="_paging">
    <wa-pagination
    [length]="project.data.total"
    [size]="size"
    (outPageIndex)="returnPageIndex($event)">

    </wa-pagination>
  </div>

</w-sidebar>

<div class="wa-header">

  <div class="wa-controlBtn">

    <button md-button color="warn" id="deleteBtn" (click)="deleteInfo()" [disabled]="dispalyDelete">
      <svg fill="#9e9e9e" id="deleteSvg" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <span>删除</span>
    </button>

    <button md-button color="primary" id="createBtn" (click)="createProject()">
      <svg fill="#4bb134" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <span>新建</span>
    </button>

  </div>

  <wa-sort
    class="wa-sort"
    (outFieldName)="consoleFieldName($event)"
    (outDirection)="consoleSort($event)">
  </wa-sort>

</div>

<div [ngSwitch]="contentSwitch">

  <div *ngSwitchCase="'emptyCase'" class="wa-content wa-content-margin">
    <div class="wa-basic-info">
    </div>
    <div class="wa-core-info">
      <div class="wa-noItem">
        <h1>无信息</h1>
        <h1>No Item</h1>
      </div>
    </div>
    </div>

  <div *ngSwitchCase="'commonCase'" class="wa-content">

    <div class="wa-basic-info wa-content-margin" *ngIf="dataDetail">
      <div class="wa-title">
        <svg fill="#757575" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5 17v2h14v-2H5zm4.5-4.2h5l.9 2.2h2.1L12.75 4h-1.5L6.5 15h2.1l.9-2.2zM12 5.98L13.87 11h-3.74L12 5.98z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <div class="wa-title-info">
          <div style="float: left">
            <h3>{{dataDetail.projectName}}</h3>
            <p mat-line>{{dataDetail.description}}</p>
          </div >
            <button md-icon-button class="wa-title-editBtn" mdTooltip="修改" [mdTooltipPosition]="'after'" (click)="editProject(dataDetail , memberInfo)">
              <svg fill="#757575" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M0 20h24v4H0z" fill-opacity=".36"/>
              </svg>
            </button>
        </div>
      </div>

      <div class="wa-detail">

        <div class="row detail_item">
          <div class="detail_title">
            <h4>项目详情</h4>
          </div>

          <div class="col-1"></div>
          <div class="col-10">
            <div class="row detail_info">
              <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                <p>创建者：{{dataDetail.owername}}</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
                <p>创建时间：{{dataDetail.createTime}}</p>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>


        <div class="row detail_item">
          <div class="detail_title">
            <h4>脚本列表</h4>
          </div>
          <div class="row col-lg-12" style="margin-top: 40px">
            <div class="col-12">
              <people-management
                *ngIf="dataDetail"
                [showList]="showList"
                [dataes]="memberInfo"
                [projectId]="dataDetail.id"
                [searchDataes]="searchDataes"
                (search)="peopleSearch($event)">
              </people-management>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<router-outlet name="popup"></router-outlet>
