<div class="card-container">
    <app-list-card *ngIf="activityData.length" [data]="activityData" [canAdd]='false' (showDetail)="showActivityDetail($event)"></app-list-card>
    <app-list-card *ngIf="testCaseData.length" [data]="testCaseData" [canAdd]='true' (addItem)="addCase()" (showDetail)="showCaseDetail($event)"></app-list-card>
    <app-list-card *ngIf="testResultData.length" [data]="testResultData" [canAdd]='true' (addItem)="addTestResult()" (showDetail)="showTestResultDetail($event)"></app-list-card>
</div>
