<div>
  <mat-toolbar class="demand-detail-header">
    <!--<span>项目名称</span><span> > </span>-->
    <span>{{demandInfo?.title}}</span>
  </mat-toolbar>
</div>

<div class="dialog-content">
  <form action="">
    <div class="demand-detail-content">
      <mat-form-field>
        <input matInput placeholder="需求名称" [value]="demandInfo?.title" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="需求描述" [value]="demandInfo?.detail" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput  placeholder="任务指定(创建需求时不可指定任务)" [value]="demandInfo?.activityTittle" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput  placeholder="优先级" [value]="demandInfo?.level" readonly>
        <!--<mat-select placeholder="优先级" [value]="demandInfo?.level" [(ngModel)]="demandInfo?.level" name="level">-->
          <!--<mat-option [value]="demandInfo?.low">低</mat-option>-->
          <!--<mat-option [value]="demandInfo?.normal" aria-selected="true">中</mat-option>-->
          <!--<mat-option [value]="demandInfo?.high">高</mat-option>-->
        <!--</mat-select>-->
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="创建时间(创建时间不可设置)" [value]="demandInfo?.createAt" readonly>
      </mat-form-field>
    </div>
  </form>
</div>
