@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-deep-purple);
$custom-accent: mat-palette($mat-indigo);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

.mat-dialog-container{
  padding: 0px !important;
}
.mat-dialog-container{
  overflow-y: hidden !important;
}

.editor{
  padding-bottom: 17.5px;
  span{
    color: rgba(0, 0, 0, 0.54);
  }
}
