<div>

  <form (ngSubmit)="onSubmit(picker_Start, picker_End)">

    <mat-grid-list cols="1"  [rowHeight]="70" style="margin-top: 40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="主题">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
       <mat-form-field id="Des" class="example-full-width des">
          <input matInput placeholder="描述">
        </mat-form-field>

        <mat-form-field id="Asc" class="example-margin asc">
          <input [(ngModel)]="ascription" name="ascription" matInput placeholder="归属于">
        </mat-form-field>

      </mat-grid-tile>

    </mat-grid-list>


    <!--<ckeditor [(ngModel)]="content" name="ckeditor" debounce="500" [config]="{height: '100'}">-->

    <!--</ckeditor>-->

    <mat-grid-list cols="1"  [rowHeight]="70" style="margin-top: 40px">

      <mat-grid-tile [rowspan]="1">
        <section class="example-section">

          <mat-form-field class="example-margin">
            <mat-select placeholder="选择" (change)="targetChanged($event)" value="target">
              <mat-option *ngFor="let target of targets" [value]="target.value">{{target.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-margin">

            <mat-select placeholder="状态" [(ngModel)]="status" name="status">
              <mat-option [value]="'new'">New</mat-option>
              <mat-option [value]="'doing'">Doing</mat-option>
              <mat-option [value]="'done'">Done</mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field class="example-margin">

            <mat-select placeholder="优先级" [(ngModel)]="level" name="level">
              <mat-option [value]="'low'">Low</mat-option>
              <mat-option [value]="'normal'">Normal</mat-option>
              <mat-option [value]="'high'">High</mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field class="example-margin">

            <mat-select placeholder="指派给" [(ngModel)]="assign" name="assign">
              <mat-option [value]="self">--自己--</mat-option>
              <!--<mat-option *ngFor="let food of foods" [value]="food.value">-->
                <!--{{food.viewValue}}-->
              <!--</mat-option>-->
            </mat-select>

          </mat-form-field>

      </section>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="1"  [rowHeight]="70" style="margin-top: 20px">

      <mat-grid-tile [rowspan]="1">

        <section class="example-section">
          <mat-form-field class="example-margin">

            <input matInput [value]="pickerStart"  [matDatepicker]="picker_Start" placeholder="开始日期">
            <mat-datepicker-toggle matSuffix [for]="picker_Start"></mat-datepicker-toggle>
            <mat-datepicker #picker_Start></mat-datepicker>

          </mat-form-field>
          <mat-form-field class="example-margin">

            <input matInput [value]="pickerEnd" [matDatepicker]="picker_End" placeholder="计划完成日期">
            <mat-datepicker-toggle matSuffix [for]="picker_End"></mat-datepicker-toggle>
            <mat-datepicker #picker_End></mat-datepicker>

          </mat-form-field>
          <mat-form-field class="example-margin">

            <input [(ngModel)]="cost" name="cost" matInput placeholder="预期时间（小时）">

          </mat-form-field>
          <mat-form-field class="example-margin">

            <input [(ngModel)]="progress" name="progress" matInput placeholder="完成度(%)">

          </mat-form-field>
        </section>

      </mat-grid-tile>
    </mat-grid-list>

    <hr style="margin-top: 20px"/>

    <mat-grid-list cols="1"  [rowHeight]="50" style="margin-top: 20px">
      <mat-grid-tile [rowspan]="1">
        <div style="float: left">
          <button mat-button type="submit" color="primary">创建</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
</div>
