<div>
  <mat-toolbar class="demand-detail-header">
    <!--<span>项目名称</span><span> > </span>-->
    <span>{{mode=='update' ? testCaseInfo.name: '新建测试用例'}}</span>
  </mat-toolbar>
</div>

<div class="dialog-content">
  <form action="" [formGroup]="testCaseForm" (ngSubmit)="onSubmit(testCaseForm)">
    <div class="demand-detail-content">
      <mat-form-field>
        <input matInput placeholder="用例名称" [formControl]="name" [(ngModel)]="testCaseInfo.name" name="name">
        <mat-error>{{formErrors.name}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="用例描述" [formControl]="detail" [(ngModel)]="testCaseInfo.detail" name="detail">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="用例类型" [formControl]="type" [(ngModel)]="testCaseInfo.type" name="type">
          <mat-option value="功能测试">功能测试</mat-option>
          <mat-option value="性能测试">性能测试</mat-option>
          <mat-option value="配置相关">配置相关</mat-option>
          <mat-option value="安装部署">安装部署</mat-option>
          <mat-option value="安全相关">安全相关</mat-option>
          <mat-option value="接口测试">接口测试</mat-option>
          <mat-option value="其他">其他</mat-option>
        </mat-select>
        <mat-error>{{formErrors.type}}</mat-error>
      </mat-form-field>

      <common-search
        [ngStyle]="{width: '100%', marginTop: '12px'}"
        [placeHolder]="'相关需求'"
        [field]="'title'"
        [searchList]="searchDemandList"
        [value]="demandTittle"
        (search)="emitSearch($event)"
        (select)="select($event)">
      </common-search>

      <mat-form-field>
        <input matInput placeholder="实际输入" [formControl]="input" [(ngModel)]="testCaseInfo.input" name="input">
        <mat-error>{{formErrors.input}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="期望输入" [formControl]="expect" [(ngModel)]="testCaseInfo.expect" name="expect">
        <mat-error>{{formErrors.expect}}</mat-error>
      </mat-form-field>
    </div>

    <div class="demand-detail-footer">
      <button mat-button mat-dialog-close>取消</button>
      <button mat-button type="submit" [disabled]="!testCaseForm?.valid">{{mode=='update'?'修改':'提交'}}</button>
    </div>
  </form>

</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
