.case-checkedAll {
  position: absolute;
  top: 30px;
  left: 225px;
}

.case-script-list {
  position: relative;
  top: 30px;
}

.belong-script-list {
  font-size: 20px;
}

.manage_controlBtn {
  margin:20px 0;
  position: relative;
  top: -45px;
  left: 75px;
  button {
    float: left;
  }
}
