<div>
  <mat-toolbar class="demand-detail-header">
    <!--<span>项目名称</span><span> > </span>-->
    <span>{{taskInfo?.title}}</span>
  </mat-toolbar>
</div>

<div class="dialog-content">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm)">
    <div class="mat-container">
      <mat-form-field>
        <input matInput placeholder="名称" [formControl]="title" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="描述" [formControl]="detail" readonly>
      </mat-form-field>

      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <input matInput [formControl]="startDate" [matDatepicker]="startPicker" placeholder="预计开始" readonly>
            <mat-datepicker-toggle matSuffix [for]="startPicker" disabled></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input matInput [formControl]="endDate" [matDatepicker]="endPicker" placeholder="截止日期" readonly>
            <mat-datepicker-toggle matSuffix [for]="endPicker" disabled></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-4" style="width:30%">
          <mat-form-field>
            <input matInput placeholder="花费时间" [formControl]="cost" readonly>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <mat-select placeholder="活动状态" [formControl]="status">
          <mat-option value="dev-ing" disabled>开发中</mat-option>
          <mat-option value="needtest" disabled>开发完待测试</mat-option>
          <mat-option value="test-ing">测试中</mat-option>
          <mat-option value="fix-ing">修复中</mat-option>
          <mat-option value="finish">已完成</mat-option>
          <mat-option value="close">已关闭</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <div>
        执行人
      </div>
      <div style="margin-top: 10px">
        <mat-card>
          <div class="participant">
            <div *ngIf="!selectUserList || selectUserList?.length === 0">未指定人员</div>
            <chip-list [chipList]="selectUserList" [mode]="'!pm'"></chip-list>
          </div>
        </mat-card>
      </div>
    </div>

    <hr>

    <div>
      <span>包含需求</span>
      <div class="demand-progress-bar">
        <span>{{demandListCompletedInTask?.length}}/{{demandListInTask.length}}</span>
        <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
      </div>
      <div class="demand-in-task">
        <div *ngFor="let demand of demandListInTask">
          <mat-checkbox (change)="toggleDemandStatus(demand, $event)" [checked]="demand?.status"></mat-checkbox>
          <mat-form-field>
            <input matInput value="{{demand?.title}}">
          </mat-form-field>
        </div>
      </div>
    </div>

    <hr>

    <div class="task-detail-footer">
      <button mat-button (click)="cancel()">取消</button>
      <button mat-button type="submit" [disabled]="!taskForm?.valid">修改</button>
    </div>
  </form>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>


