.mat-card.list-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    margin-right: 24px;
    padding: 0;
    width: 344px;
    max-height: 100%;
    overflow: hidden;
    .mat-card-header.list-card-header {
        flex: 0 0 56px;
        justify-content: space-between;
        padding: 8px 16px;
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.06);
        .mat-card-title {
            line-height: 40px;
            .mat-button {
                position: relative;
                margin-left: -8px;
                font-size: 16px;
                color: rgba(0,0,0,.54);
                outline: none !important;
                .list-card-number {
                    position: absolute;
                    top: 8px;
                    right: 0;
                    height: 20px;
                    padding: 0 6.5px;
                    line-height: 20px;
                    border-radius: 10px;
                    transform: translateX(50%);
                    background: #666;
                    color: #ccc;
                    font-size: 12px;
                }
            }
        }
        .mat-icon-button {
            float: right;
            font-weight: normal;
            font-size: 24px;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    .mat-card-content.list-card-content {
        flex: 1 1 auto;
        margin: 0;
        padding: 16px;
        overflow: auto;
        background: #fafafa;
        .list-card-no-data {
            height: 120px;
            line-height: 120px;
            text-align: center;
            color: rgba(0,0,0,0.54);
            font-weight: bold;
        }
        .mat-card.item-card {
            margin-bottom: 16px;
            padding: 16px;
            cursor: pointer;
            &:nth-last-child(1) {
                margin-bottom: 0px;
            }
            .mat-card-header.item-card-header {
                .mat-card-avatar {
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    background: #ccc;
                    font-size: 24px;
                }
                .mat-card-title {
                    .item-card-level {
                        text-align: bottom;
                        span {
                            padding: 1px 4px;
                            border-radius: 2px;
                            color: #fff;
                            font-size: 12px;
                        }
                    }
                }
                .mat-card-subtitle {
                    // margin-bottom: 0;
                }
            }
            .mat-card-content {
                // padding: 0;
                // margin-top: 8px;
                // .mat-chip-list {
                //     position: relative;
                // }
                .item-card-tag {
                    margin: 0;
                }
                .item-card-time {
                    text-align: right;
                    color: #333333;
                }
            }
        }
    }
    // .mat-card-actions {
    //     flex: 0 0 auto;
    //     margin: 0;
    //     padding: 8px;
    //     width: 100%;
    // }
}