<mat-card class="list-card" *ngIf="activeData&&data">
    <mat-card-header class="list-card-header">
        <mat-card-title>
            <button mat-button [matMenuTriggerFor]="menu">
                {{activeData.listName}}
                <div class="list-card-number" *ngIf="activeData.listData.length !== 0">{{activeData.listData.length}}</div>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let list of data" (click)="changeCardData(list)">{{list.listName}}</button>
            </mat-menu>
        </mat-card-title>
        <button mat-icon-button *ngIf="canAdd" (click)="addEmit()">+</button>
    </mat-card-header>
    <mat-card-content class="list-card-content">
        <div class="list-card-no-data" *ngIf="activeData.listData.length === 0">暂无内容</div>
        <mat-card class="item-card" *ngFor="let item of activeData.listData" (click)="detailEmit(item.itemObj)">
            <mat-card-header class="item-card-header">
                <div mat-card-avatar [style.background]="item.itemAvatar">{{item.itemName | name2avatar}}</div>
                <mat-card-title><strong>
                    {{item.itemName}}
                    <span *ngIf="item.itemLevel" [ngSwitch]="item.itemLevel" class="item-card-level">
                        <span *ngSwitchCase="'low'" [style.background]="'blue'">low</span>
                        <span *ngSwitchCase="'normal'" [style.background]="'orange'">normal</span>
                        <span *ngSwitchCase="'high'" [style.background]="'red'">high</span>
                        <span *ngSwitchDefault [style.background]="'grey'">{{item.itemLevel}}</span>
                    </span>
                </strong></mat-card-title>
                <mat-card-subtitle>{{item.itemfrom}}<span *ngIf="item.itemfrom&&item.itemStatus"> - </span>{{item.itemStatus}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <!-- <mat-chip-list>
                    <mat-chip *ngFor="let tag of item.itemTag">{{tag}}</mat-chip>
                </mat-chip-list> -->
                <ul class="item-card-tag">
                    <li *ngFor="let tag of item.itemTag">{{tag}}</li>
                </ul>
                <div *ngIf="item.itemTime" class="item-card-time">创建于: {{item.itemTime | date:"yyyy-MM-dd"}}</div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <!-- <mat-card-actions></mat-card-actions> -->
</mat-card>