
  <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
    <h3 style="margin: 20px 0 0 20px; border-left: 2px solid #4bb134 ;padding-left: 10px;">上传应用</h3>
    <hr />
    <div class="form-group row">
        <file-upload style="margin: 0 auto" [url]="fileUploadUrl" [name]="'file'" [fileSizeLimit]="sizeLimit" [disable]="disableUpload"
                     (onFinishUploading)="onFinishUploading($event)"
                     (onUploading)="onFileUploading($event)" [allowUploadType]="allowUploadTypes" ></file-upload>
    </div>

    <div class="form-group row" style="margin-top: 5px;">
        <md-input-container class="example-full-width">
          <input mdInput id="appVersion" placeholder="应用版本" [value]="appVersion ? appVersion : ''" readonly>
        </md-input-container>
    </div>

    <div class="form-group row">
        <md-input-container class="example-full-width">
        <input mdInput id="platformType" placeholder="平台类型" [value]="platformType ? platformType : ''" readonly>
        </md-input-container>
    </div>

    <div class="form-group row">
      <md-input-container class="example-full-width">
        <input mdInput [formControl]="description"  placeholder="添加描述"> <!--/[formControl]="description" !form.valid ||-->
      </md-input-container>
    </div>

    <div class="row appBtn">
      <button md-button md-dialog-close="cancel">取消</button>
      <button md-button [disabled]="isModifying" color="primary" type="submit">保存</button>
    </div>

  </form>


