.appContent {
  overflow: hidden;
  min-width:100px;
}

.app_upload {
  //margin-left: 50px;
}

.appBtn {
  width: 184px;
  margin: 10px auto 0 auto;
}
.app-label {
  top:10px;
}
.btn-save {
  margin-left: 12px;
}

.example-full-width {
  width: 400px;
  margin:0 auto;
}
.form-group {
  margin: 0;
}
