@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';

:host /deep/ {

  .wel-top {
    //background-color: $sidebar;
    background-color: #8847dc;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    height: 66px;
    width: 100%;
    min-width: $resMin;
    padding: 0 20px;

    .dropdown-toggle::after {
      display: none;
    }
  }

  .blur {
    .page-top.scrolled {
      background-color: rgba(black, 0.85)
    }
  }

  a.al-logo {
    color: $sidebar-text;
    display: block;
    font-size: 28px;
    font-family: $font-family;
    white-space: nowrap;
    float: left;
    outline: none !important;
    margin: 0 45px;
    line-height: 66px;
  }
  .system-name {
    line-height: 66px;
    color: #ffffff;
    .project-name{
      font-size: 20px;
    }
  }

  a.resource {
    color: $sidebar-text;
    display: block;
    font-size: 24px;
    font-family: $font-family;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;
  }
  a.al-logo:hover {
    //color: $primary;
    color: #cccccc;
  }

  .juzuo {
    float: left;
  }
  .user-profile {
    margin-top: 10px;
  }

  .level_2_menu{
    height: 100%;
    display: flex;
  }

  .al-user-profile {
    float: right;
    margin-right: 49px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;

    ul.profile-dropdown:after {
      bottom: 100%;
      right: 0;
      //border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-right: 28px;
    }
    a {
      display: block;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  a.refresh-data {
    color: $sidebar-text;
    font-size: 13px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;

    &:hover {
      color: $warning !important;
    }
  }

  a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: $sidebar-text;
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;

    &:hover {
      text-decoration: none;
      color: $warning;
    }
  }

  .al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;

    .tpl-skin-panel {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    @include bg('theme/palette.png');
    background-size: cover;
  }

  .nav-item {
    //width: 0px;
    border: 1px solid transparent;
    text-align: center;
    margin-left: 30px;
    .nav-link {
      color: #cccccc;
      font-size: 16px;
    }
    .nav-link:hover {
      color: white;
    }
  }

  .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active {
    color: #ffffff;
    font-size: 16px;
    //background: rgba(255, 255, 255, 0.3);
    //width: 80px;
    text-align: center;
    border: 1px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .user-btn {
    background: #8847dc;
    border: 0;
  }

  .show > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -45px;
    z-index: 1000;
    display: none;
    min-width: 5rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .dropdown-item {
    padding: 13px 1.5rem;
  }

  @media screen and (max-width: $resS) {
    .search {
      display: none;
    }
  }

  @media screen and (max-width: $resXS) {
    .page-top {
      padding: 0 20px;
    }
  }

  @media (max-width: $resXXS) {
    .user-profile {
      min-width: 136px;
    }
    a.refresh-data {
      margin-right: 10px;
    }
    a.collapse-menu-link {
      margin-left: 10px;
    }

    .al-skin-dropdown {
      display: none;
    }
  }

  .profile-toggle-link {
    cursor: pointer;
  }
}
