<div class="wel-top clearfix" baScrollPosition (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">

  <div class="juzuo system-name">
    <a *ngIf="isShowSidebar==true" (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
    <a routerLink="welcome" class="al-logo clearfix">QACenter DXC </a>
    <span  *ngIf="showLevel2Menu==true&&projectName">{{projectName}}</span>
  </div>

  <div class="level_2_menu juzuo" *ngIf="showLevel2Menu==true">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/pages/release/view" routerLinkActive="active">release</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/release/project-view" routerLinkActive="active">项目管理</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="user-profile clearfix">
    <div class="btn-group al-user-profile" dropdown>
      <button dropdownToggle type="button" class="user-btn dropdown-toggle">
        <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown"
           aria-expanded="false">
          <img src="{{ ( 'Nasta' | baProfilePicture ) }}">
        </a>
      </button>

      <ul *dropdownMenu class="dropdown-menu profile-dropdown" role="menu" aria-labelledby="user-profile-dd"
          style="margin:10px 0 0 -37px">
        <li class="dropdown-item"><a href class="signout" routerLink="/pages/user" routerLinkActive="active"
                                     (click)="showPersonInfo()"><i
          class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Setting</a></li>
        <li class="dropdown-item"><a href class="signout" routerLink="/signout" routerLinkActive="active"><i
          class="fa fa-power-off"></i>&nbsp;&nbsp;&nbsp;Sign out</a></li>
      </ul>
    </div>
  </div>

</div>
