.demand_btnGroup {
  float: right;
}
.example-full-width {
  width: 89%;
}
.isDes {
  margin: 0 5px 0 50px;
}

.isAsc {
  margin: 0 50px 0 0;
}

.asc {
  display: none;
}

.demand-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.example-margin {
  margin: 20px 0 0 0;
}
