<w-sidebar>
  <div class="_dataList">
    <mat-nav-list>
      <w-dataList
        [svgType]="'task'"
        [displayCommon]="true"
        [displayPeople]="false"
        [columnHeader]="true"
        [placeHolder]="'需求搜索'"
        [displayControl]="'check'"
        [dataes]="demandList?.data"
        [configEntity]="configSEntity"
        (outCheckDataes)="demandChecked($event)"
        (selected)="demandSelected($event)"
        (outSearch)="demandSearch($event)">
      </w-dataList>
    </mat-nav-list>
  </div>

  <div class="_paging" *ngIf="demandList">
    <wa-pagination
      [length]="demandList?.total"
      [size]="size"
      (outPageIndex)="demandPage($event)">
    </wa-pagination>
  </div>
</w-sidebar>

<div class="wa-header">


  <wa-sort
    class="wa-sort"
    [sortFields]="sortFields"
    (outFieldName)="demandFieldName($event)"
    (outDirection)="demandSort($event)">
  </wa-sort>

  <div class="wa-controlBtn">
    <button mat-button color="warn" id="deleteBtn" (click)="deleteDemand()" [disabled]="dispalyDelete">
      <svg fill="#9e9e9e" id="deleteSvg" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <span>删除</span>
    </button>
    <button mat-button color="primary" id="createBtn" (click)="createDemand()">
      <svg fill="#4bb134" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <span>新建</span>
    </button>
  </div>

</div>

<div [ngSwitch]="contentSwitch">

  <div *ngSwitchCase="'emptyCase'" class="wa-content wa-content-margin">
    <div class="wa-basic-info">
    </div>
    <div class="wa-core-info">
      <div class="wa-noItem">
        <h1>无信息</h1>
        <h1>No Item</h1>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'commonCase'" class="wa-content wa-content-margin">
    <div class="wa-basic-info">
      <div class="wa-title">
        <svg fill="#757575" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
        </svg>
        <div class="wa-title-info">
          <div>
            <h3>{{demandDetails?.title}}</h3>
            <p mat-line>{{demandDetails?.startDate.toString().substr(0,10)}}</p>
          </div>

          <mat-chip-list class="wa-titleChips">
            <mat-chip>{{demandDetails?.status}}</mat-chip>
          </mat-chip-list>
        </div>

      </div>

      <hr>

      <mat-card>

        <div class="wrap">
          <mat-card class="card-one">
            <div class="main">
             <d_t-component
                [(detailDatas)]="demandDetails"
                (retractEvent)="retract($event)"
                (modifyEvent)="modifyed($event)">

              </d_t-component>
            </div>
          </mat-card>

          <div class="show">

            <!--<mat-card class="card-two">-->

              <div class="sider">

                <div class="item">
                  <mat-card>
                    <div class="item-card-header">
                      <h3>BASIC STATISTICS</h3>
                      <p>FOR:  <b>{{demandDetails?.title}}</b></p>
                    </div>
                    <div class="item-card-body">
                      <div class="item-num">
                        {{taskList?.length}}
                      </div>
                      <div>
                        <p>TASK WAS CREATED</p>
                      </div>
                    </div>
                    <div class="item-card-footer">

                      <div class="item-progress">
                         <mat-progress-spinner
                            class="example-margin-progress"
                            [mode]="'determinate'"
                            [value]="demandDetails?.progress">
                        </mat-progress-spinner>

                        <div class="number">
                          {{demandDetails?.progress}}
                        </div>
                      </div>

                      <div class="show-progress">
                        DEMAND PROGRESS
                      </div>

                    </div>
                  </mat-card>
                </div>

              </div>

            <!--</mat-card>-->

          </div>


        </div>

        <hr>

        <h3>任务列表</h3>

        <hr>

        <mat-accordion>

          <mat-expansion-panel
            *ngFor="let task of taskList">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{task.title}}</b>
              </mat-panel-title>
              <mat-panel-description>
                {{task.detail}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="taskList">
                <div class="taskItem" style="margin-right: 20px">
                  <d_t-component
                    [detailDatas]="task"
                    (retractEvent)="taskRetract($event)"
                    (modifyEvent)="taskModifyed($event)">

                  </d_t-component>

                <mat-action-row>
                    <button mat-button color="primary" (click)="deleteTask(task)">删除</button>
                  </mat-action-row>
                </div>

                <div class="sider">

                    <div class="item">
                  <mat-card>
                    <div class="item-card-header">
                      <h3>BASIC STATISTICS</h3>
                      <p>FOR:  <b>{{task?.title}}</b></p>
                    </div>
                    <div class="item-card-body">
                      <div class="item-num">
                        {{task?.cost}}
                      </div>
                      <div>
                        <p>EXPECTED TIME</p>
                      </div>
                    </div>
                    <div class="item-card-footer">

                      <div class="item-progress">
                         <mat-progress-spinner
                            class="example-margin-progress"
                            [mode]="'determinate'"
                            [value]="task?.progress">
                        </mat-progress-spinner>

                        <div class="number">
                          {{task?.progress}}
                        </div>
                      </div>

                      <div class="show-progress">
                        DEMAND PROGRESS
                      </div>

                    </div>
                  </mat-card>
                </div>

                </div>

            </div>



          </mat-expansion-panel>

        </mat-accordion>

      </mat-card>

    </div>

  </div>

</div>
