h3 {
  border-left: 2px solid green;
  padding: 10px 10px 0px 0px;
}

.newForm {
  margin-top: 30px;
}

input {
  width: 300px;
}

table {
  margin: 0 auto;
}

.script-list {
  margin-left: 130px;
}

.case-dialog {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index: 999;
  background:rgba(0, 0, 0, 0.3);
}

.new-case {
  width: 566px;
  //height: 740px;
  position: absolute;
  background: white;
  top:60%;
  left: 50%;
  margin-top: -283px;
  margin-left: -280px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.example-full-width {
  width: 360px;
  margin:0 auto;
}

.popCase-title {
  margin: 20px 0 0 20px;
  border-left: 2px solid #4bb134 ;
  padding-left: 10px;
}
