<div class="case-dialog">
  <div class="new-case" [@routerDisplay]="'in'">
    <h3 class="popCase-title" *ngIf="_enState.enCaseInfo.status=== 'new'">创建案例</h3>
    <h3 class="popCase-title" *ngIf="_enState.enCaseInfo.status=== 'update'">编辑案例</h3>
    <hr />
    <form [formGroup]="newForm" class="newForm" (ngSubmit)="onSubmit($event)">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput [formControl]="caseName" placeholder="案例名称">
            </md-input-container>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput [formControl]="tag" placeholder="功能归属">
            </md-input-container>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput [formControl]="caseDescription" placeholder="描述">
            </md-input-container>
          </td>
        </tr>
      </table>

      <div class="script-list">
        <div *ngIf="scriptsInCase">
          <wa-sort-list [(items)]="scriptsInCase"></wa-sort-list>
        </div>
        <div style="margin-left: -25px; margin-top: 10px">
          <wa-search [items]="scriptList" [configEntity]="configSearchEntity"
                     (onGetItems)="getAllScriptList($event)" (onAddItems)="addItem($event)"></wa-search>
        </div>
      </div>

      <div style="float: right;margin: 30px 60px 20px 0;">
        <button md-button (click)="cancel()">取消</button>
        <button md-button [disabled]="!newForm.valid" color="primary" type="submit">保存</button>
      </div>
    </form>
  </div>

</div>


