<div class="card-container">
    <app-list-card [data]="data1" (addItem)="addItem()" (showDetail)="showDemandDetail($event)"></app-list-card>
    <app-list-card [data]="data2" (addItem)="addItem()" (showDetail)="showTaskDetail($event)"></app-list-card>
    <app-list-card *ngIf="demandData.length" [data]="demandData" (addItem)="addItem()" (showDetail)="showDemandDetail($event)"></app-list-card>
    <app-list-card *ngIf="activityData.length" [data]="activityData" (addItem)="addItem()" (showDetail)="showTaskDetail($event)"></app-list-card>
    <app-list-card *ngIf="testResultData.length" [data]="testResultData" (addItem)="addItem()" (showDetail)="showTaskDetail($event)"></app-list-card>
</div>
